<footer class="footer">
  <div class="container">
    <div class="footer-wraper">
      <nav class="nav footer-nav" id="home">
        <a class="footer-logo-link" href="./index.html">
          <img src="./images/logo.png" alt="Logo" width="84" height="36" />
        </a>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a href="">Home</a>
          </li>
          <li class="nav-list-item">
            <a href="">Books</a>
          </li>
          <li class="nav-list-item">
            <a href="">Feedbacks</a>
          </li>
          <li class="nav-list-item">
            <a href="">Events</a>
          </li>
          <li class="nav-list-item">
            <a href="">Location</a>
          </li>
        </ul>
      </nav>

      <div class="footer-join-field">
        <p class="join-caption">Join</p>
        <form class="join-form">
          <label class="join-label">
            <input
              name="user-email"
              class="join-input"
              type="email"
              placeholder="Enter your email"
            />
          </label>
          <button class="footer-join-btn" type="submit">Sign Up</button>
        </form>
        <p class="join-text-required">* Required field</p>
      </div>
    </div>
    <div class="footer-copyright">
      <p class="footer-copyright-text">
        &#169; 2025 Booksy. All rights reserved.
      </p>
    </div>
  </div>

  <!-- <div class="container">
    <p class="footer-desc">
      Made with ✨ by
      <a
        class="footer-link"
        href="https://goit.global/ua/"
        target="_blank"
        rel="noopener noreferrer"
      >
        GoIT team
      </a>
    </p>
  </div> -->
</footer>
