<!-- <section class="hero container">
  <div class="hero-wraper">
    <h1 class="hero-title">Get 10% off your first order</h1>
    <button class="hero-btn" type="button">Shop Now!</button>
  </div>
</section> -->

<section class="hero">
  <div class="container">
    <!-- Slider main container -->
    <div class="swiper hero-swiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <!-- Slides -->
        <li class="swiper-slide">
          <img src="./images/baner1.jpg" alt="" />
        </li>
        <li class="swiper-slide">
          <img src="./images/baner2.jpg" alt="" />
        </li>
        <li class="swiper-slide">
          <img src="./images/baner3.jpg" alt="" />
        </li>
        <li class="swiper-slide">
          <img src="./images/baner4.jpg" alt="" />
        </li>
      </ul>
    </div>
    <div class="hero-bottom">
      <h1 class="hero-title">Discover Your Next Great Read Today!</h1>
      <button class="hero-btn hero-btn-prev" type="button">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.7069 17.293L8.41394 13H17.9999V11H8.41394L12.7069 6.70697L11.2929 5.29297L4.58594 12L11.2929 18.707L12.7069 17.293Z"
            fill="#0B0500"
          />
        </svg>
      </button>
      <button class="hero-btn hero-btn-next" type="button">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.293 17.293L12.707 18.707L19.414 12L12.707 5.29297L11.293 6.70697L15.586 11H6V13H15.586L11.293 17.293Z"
            fill="#0B0500"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
