<main>
  <section class="books">
    <div class="container">
      <aside class="books-sidebar sidebar">
        <h2 class="sidebar-title">Books</h2>
        <ul class="sidebar-list">
          <li class="sidebar-item">
            <button class="sidebar-btn">All categories</button>
          </li>
          <li class="sidebar-item">
            <button type="button" class="sidebar-btn">
              Combined Print and E-book Fiction
            </button>
          </li>
          <li class="sidebar-item">
            <button type="button" class="sidebar-btn">
              Combined Print & E-book Nonfiction
            </button>
          </li>
          <li class="sidebar-item">
            <button type="button" class="sidebar-btn">Hardcover fiction</button>
          </li>
          <li class="sidebar-item">
            <button type="button" class="sidebar-btn">
              Paperback trade fiction
            </button>
          </li>
          <li class="sidebar-item">
            <button type="button" class="sidebar-btn">
              Paperback nonfiction
            </button>
          </li>
          <li class="sidebar-item">
            <button type="button" class="sidebar-btn">
              Advice, how-to & Miscellaneous
            </button>
          </li>
          <li class="sidebar-item">
            <button type="button" class="sidebar-btn">
              Children’s middle grade hardcover
            </button>
          </li>
        </ul>
      </aside>
      <div class="books-list">
        <article class="books-item">
          <div class="books-item-cover">
            <img
              class="books-item-ill"
              src="../images/img.png"
              alt="books-img"
            />
          </div>
          <div class="books-item-body">
            <h3 class="books-item-title">I will find you</h3>
            <p class="books-item-descr">Harlan Coben</p>
            <p class="books-item-price">$15</p>
          </div>
          <button class="books-item-btn" type="button">Learn More</button>
        </article>
      </div>
    </div>
  </section>
</main>
