
.header-wraper {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.nav-list{
  display: flex;
}
.nav-right-wraper{
  display: flex;
  gap: 32px;
}
.nav-list-item{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  
  margin-right: 32px;
  color: #0b0500;
}

.nav-list-item:last-child{
  margin-right: 0;
}

.nav-list-item:hover {
  color: #e15d05;
}
.nav-list-item:focus{
  color: #e15d05;
}

.header .btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  color: #e15d05;

  svg {
    fill: transparent;
    stroke: #e15d05;
    stroke-width: 25;
  }
}