
.header-wraper {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.nav-list{
  display: flex;
}

.nav-list-item{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  
  margin-right: 32px;
  color: #0b0500;
}

.nav-list-item:last-child{
  margin-right: 0;
}