
.hero{
    padding: 0 0 32px 0;

}
 
.hero-swiper .swiper-slide{
    overflow: hidden;
    border-radius: 16px;
}
.swiper-wrapper{
 margin-bottom: 24px;
 /* height: 395px; */
}

.swiper-slide{
    position: relative;
}
.swiper-slide-title {
    position: absolute;
    top: 155px;
    left: 56px;

    font-weight: 600;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -0.01em;
    max-width: 591px;
    color: #fff;
}
.swiper-slide-btn{
    position: absolute;
    top: 299px;
    left: 56px;

    border: 1px solid #e15d05;
    border-radius: 4px;
    padding: 8px 20px;
    width: 227px;
    height: 40px;
    background: #e15d05;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
            
}

.hero-bottom{
    display: flex;
    align-items: center;
    gap: 24px;
}

.hero-title{
    font-weight: 600;
        font-size: 52px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: #0b0500;
}

.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    border: 1px solid rgba(11, 5, 0, 0.15);
    padding: 12px;
    width: 48px;
    height: 48px;
    
    background: #e15d05;
}

.hero-btn-prev{
    margin-left: auto;
}

